.grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(100px,auto);

    /* el stretch es el por defecto de esta propiedad, cada elemento abarca todo el ancho posible que puede según la cantidad de columnas*/
    justify-items: stretch; /* Alinea los elementos basado en alcho del contenido de cada elemento (todos alineados en conjunto), sin esto se estirarian los elementos para cubir el 100% segun cantidad de columnas */ 
align-items: center;
}

.grid div {
    border: 1px solid black;
    background: coral;
}

.grid div:hover {
    border: 1px solid yellow;
}

.element1{
    align-self: start; /* dentro de su propio espacio de contenedor, lo envia al final, inicio o centro con align-self */
}


.element2{
    align-self: center; /* dentro de su propio espacio de contenedor, lo envia al final, inicio o centro con align-self */
}


.element3{
    align-self: end; /* dentro de su propio espacio de contenedor, lo envia al final, inicio o centro con align-self */
}

.element4{
    justify-self: start; 
    
}


.element5{
    justify-self: center; 
}


.element6{
    justify-self: end; 
}


