.grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-template-rows: minmax(20px,auto);
}

.grid div {
    padding: 1rem;
}

.grid div:hover {
    border: 1px solid yellow;
}

.grid-anidada{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-auto-rows: 100px; /* ancho de 100px a cada fila */
    gap: 1rem;
}

.grid-anidada div{
    border: 1px solid black;
    background: coral;
    padding: 1rem;
}